@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject ILanguageManager LanguageManager
@inject IMultiTenancyConfig MultiTenancyConfig
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);

    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " / " : "";
    pageTitle += "AbpTemplate";
}

<!DOCTYPE html>
<html lang="@LanguageManager.CurrentLanguage.Name">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@pageTitle</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" asp-append-version="true">
    <link rel="stylesheet" href="~/libs/pear/css/pear.css" asp-append-version="true"/>
    @RenderSection("styles", required: false)
</head>
<body style="background-color:#a7a5a5;">

    @RenderBody()

    <script src="~/libs/layui/layui.js" asp-append-version="true"></script>
    <script src="~/libs/pear/pear.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

